<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/css/app.css">
</head>
<body>

	<div id="my-app" class="container" v-cloak>
		<h1>{{ appHeader }}</h1>
		<all-pages-component></all-pages-component>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<router-link tag="li" to="/page1" active-class="active">
						<a>Страница 1</a>
					</router-link>
					<router-link tag="li" :to="{name: 'page2'}" active-class="active">
						<a>Страница 2</a>
					</router-link>
					<router-link tag="li" to="/page3" active-class="active">
						<a>Страница 3</a>
					</router-link>
					<router-link tag="li" to="/page4" active-class="active">
						<a>Страница 4</a>
					</router-link>
				</ul>
			</div>
		</nav>
		<transition name="route-change" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>

<script type="text/javascript" src="dist/js/vendor.bundle.js"></script>
<script type="text/javascript" src="dist/js/app.bundle.js"></script>
</body>
</html>
