[v-cloak] {
	display: none;
}

// Route transition
.route-change- {
	&enter-active, &leave-active {
		transition: opacity .1s ease;
	}
	&enter, &leave-to {
		opacity: 0;
		transform: translateY(10px);
		transition: all .2s ease;
	}
}
