<template lang="pug">
div
	p
		strong {{ message }}
	p Компонент из vue файла.
</template>

<script>
export default {
	data() {
		return {message: 'Страница 4',};
	}
}
</script>

<!-- lang - для компилятора, rel - для IDE -->
<style lang="less" rel="stylesheet/less" scoped>
@color: #080;
body {
	p {
		color: @color;
	}
}
</style>
