div.page2
	p
		strong {{ message }}
	p Шаблон находится в Pug файле, стили в SCSS.
	p
		// Корректней пользоваться геттерами, нежели напрямую через $store.state
		| Имя "{{ $store.state.user.name }}"
		=' '
		a.btn.btn-default.btn-sm(@click.prevent='toLower()',) в нижний регистр
		=' '
		a.btn.btn-default.btn-sm(@click.prevent='toUpper()',) в верхний регистр
